<tc-card class="mb-0">
  <div class="col col-12 col-md-12 col-xl-4">
    <tc-card [tcBgColor]="'#fbfbfb'" class="animated fadeInUp delay-01s">
      <div class="row align-items-center">
        <div class="col col-3">
          <tc-icon [tcColor]="'rgba(51,108,251,0.5)'" [tcFontSize]="48" [iconClass]="'icofont-user-suited'"
            [padding]="0"></tc-icon>
        </div>

        <div class="col col-9">
          <h4 class="mt-0 mb-1 page-title">{{'Care Home Manager' | translate}} - {{carehome_manager.length}}</h4>
        </div>
      </div>
    </tc-card>
  </div>

  <tc-table [rows]="carehome_manager" [hovered]="true" [pagination]="true" [search]="true" [headerBgColor]="'#336cfb'"
    [headerColor]="'#fff'">

    <tc-table-col [columnTitle]="'First name'" [columnName]="'fname'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong class="custom-capital">{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Last name'" [columnName]="'lname'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong class="custom-capital">{{ value }}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Email'" [columnName]="'email'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <span class="d-flex align-items-center nowrap" [tcColor]="'#336cfb'">
          {{ value }}
        </span>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Hospital'" [columnName]="'hospitalName'" [enableSorting]="true">
      <ng-template #tableTDTemplate let-value>
        <strong>{{ value }}</strong>
      </ng-template>
    </tc-table-col>

    <tc-table-col [columnTitle]="'Created By'" [columnName]="'created_by'">
      <ng-template #tableTDTemplate let-value>
        <strong class="custom-capital">{{value}}</strong>
      </ng-template>
    </tc-table-col>
    <tc-table-col [columnTitle]="'Actions'" [columnName]="'actions'">
      <ng-template #tableTDTemplate let-row="row">
        <div class="actions">
          <button tc-button [afterIcon]="'icofont-ui-edit'" [view]="'info'" [square]="true" [tcShape]="500"
            [size]="'sm'" (click)="edit(row)"></button>

          <button tc-button [afterIcon]="'icofont-ui-delete'" [view]="'error'" [square]="true" [tcShape]="500"
            [size]="'sm'" (click)="remove(row)"></button>
        </div>
      </ng-template>
    </tc-table-col>
  </tc-table>
</tc-card>

<!-- <div class="add-action-box">
  <button
    tc-button
    [afterIcon]="'icofont-building-alt'"
    [view]="'accent'"
    [square]="true"
    [tcShape]="500"
    (click)="openModal(modalBody, 'Add Care Home Manager', modalFooter)"
  ></button>
</div> -->
<!-- Modal delete -->
<ng-container>
  <ng-template #modalDelete>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="modal.close()">Cancel</button>
      <button tc-button [view]="'info'" (click)="deleteOk()">
        Okay
      </button>
    </div>
  </ng-template>
</ng-container>

<!-- Modal window -->
<ng-container>
  <ng-template #modalBody>
    <form [formGroup]="carehomeForm" novalidate>

      <tc-form-group>
        <tc-input [placeholder]="'First Name'" formControlName="fname"></tc-input>
        <div *ngIf="submitted && f.fname.errors" class="uk-form-danger">
          <div class="error-bt" *ngIf="f.fname.errors?.required">First name is required</div>
          <div class="error-bt" *ngIf="f.fname.errors?.pattern">Enter valid first name</div>
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-input [placeholder]="'Last Name'" formControlName="lname"></tc-input>
        <div *ngIf="submitted && f.lname.errors" class="uk-form-danger">
          <div class="error-bt" *ngIf="f.lname.errors?.required">Last name is required</div>
          <div class="error-bt" *ngIf="f.lname.errors?.pattern">Enter valid last name</div>
        </div>
      </tc-form-group>

      <tc-form-group>
        <tc-select [placeholder]="'Select Hospitals'" formControlName="hospital" [options]="hospitals"
          [disabled]="isEdit"></tc-select>
        <div *ngIf="submitted && f.hospital.errors" class="uk-form-danger">
          <div class="error-bt" *ngIf="f.hospital.errors?.required">Hospital is required</div>
        </div>
      </tc-form-group>

      <tc-form-group *ngIf="!isEdit">
        <tc-input [placeholder]="'Email'" formControlName="email"></tc-input>
        <div *ngIf="submitted && f.email.errors">
          <div class="error-bt" *ngIf="f.email.errors?.required">Email is required</div>
          <div class="error-bt" *ngIf="f.email.errors?.pattern">Enter valid email address</div>
        </div>
      </tc-form-group>

      <tc-form-group *ngIf="!isEdit">
        <tc-input [type]="'password'" [placeholder]="'Password'" formControlName="password"></tc-input>
        <div *ngIf="submitted && f.password.errors" class="uk-form-danger">
          <div class="error-bt" *ngIf="f.password.errors?.required">Password is required</div>
          <div class="error-bt" *ngIf="f.password.errors?.pattern">Password must contain at least eight characters,
            including uppercase, lowercase letters, Special characters and numbers. </div>
        </div>
      </tc-form-group>

      <tc-form-group *ngIf="!isEdit">
        <tc-input [type]="'password'" [placeholder]="'Confirm Password'" formControlName="cpassword"></tc-input>
        <div *ngIf="submitted && f.cpassword.errors" class="uk-form-danger">
          <div class="error-bt" *ngIf="f.cpassword.errors?.required">Confirm Password is required</div>
          <div class="error-bt" *ngIf="f.cpassword.errors.confirmedValidator">Password and Confirm Password must be
            match</div>
        </div>
      </tc-form-group>

    </form>
  </ng-template>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Cancel</button>
      <button tc-button [view]="'info'" (click)="addCarehome(carehomeForm.value)">
        {{isEdit ? 'Edit Care Home manager' : 'Add Care Home manager'}}
      </button>
    </div>
  </ng-template>
</ng-container>
<!-- end Modal window -->