@import '~src/assets/sass/variables';
:host {
    .add-action-box {
        bottom: $module-rem * 8;
        position: fixed;
        right: $module-rem * 2;
        z-index: 9997;
        .tc-btn {
            font-size: 30px;
        }
    }
    .actions {
        display: flex;
        margin: -$module-rem / 4;
        .tc-btn {
            margin: $module-rem / 4;
        }
    }
}

.error-bt {
    color: #ff0000;
    display: block;
    margin: 5px 0 0 22px;
    font-size: 13px;
}

.custom-capital {
    text-transform: capitalize;
}

.page-title {
    color: rgba(31, 32, 34, 0.5);
    font-size: 2rem;
    margin: 0 0 1.42857143rem;
}

.custom-label {
    padding-top: 10px;
}

.color-label {
    padding-top: 10px;
}

.tc-form-label {
    color: rgba(31, 32, 34, 0.5);
}