<form [formGroup]="passwordForm" novalidate>
    <tc-form-group>
      <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="pass"></tc-input>
      <div *ngIf="submitted && f.pass.errors">
        <div class="error-bt" *ngIf="f.pass.errors?.required">Password is required</div>
        <div class="error-bt" *ngIf="f.pass.errors?.pattern">Passwords must contain at least eight characters, including uppercase, lowercase letters, Special characters and numbers. </div>
      </div>
    </tc-form-group>

    <tc-form-group>
        <tc-input [placeholder]="'Confirm Password'" [type]="'password'" formControlName="conf_pass"></tc-input>
        <div *ngIf="submitted && f.conf_pass.errors">
          <div class="error-bt" *ngIf="f.conf_pass.errors?.required">Confirm password is required</div>
          <div class="error-bt" *ngIf="f.conf_pass.errors.confirmedValidator">Password and Confirm Password must be match</div>
        </div>
    </tc-form-group>
    
    <div class="actions justify-content-between">
      <button (click)="submit(passwordForm.value)" tc-button [view]="'accent'" [beforeIcon]="'icofont-login'">
        Submit
      </button>
    </div>
  </form>

  <ng-template #modalFooter>
    <div class="actions justify-content-between">
      <br>
      <button tc-button [type]="'button'" [view]="'error'" (click)="closeModal()">Okay</button>
    </div>
  </ng-template>