<form [formGroup]="registerForm" novalidate>
  <tc-form-group>
    <tc-input [placeholder]="'Name'" formControlName="name"></tc-input>
    <div *ngIf="submitted && f.name.errors" class="uk-form-danger">
      <div class="error-bt" *ngIf="f.name.errors?.required">Name is required</div>
      <div class="error-bt" *ngIf="f.name.errors?.pattern">Enter valid name</div>
    </div>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Email address'" [type]="'email'" formControlName="email"></tc-input>
    <div *ngIf="submitted && f.email.errors">
      <div class="error-bt" *ngIf="f.email.errors?.required">Email is required</div>
      <div class="error-bt" *ngIf="f.email.errors?.pattern">Enter valid email address</div>
    </div>
  </tc-form-group>

  <tc-form-group>
    <tc-input [placeholder]="'Password'" [type]="'password'" formControlName="pass"></tc-input>
    <div *ngIf="submitted && f.pass.errors" class="uk-form-danger">
      <div class="error-bt" *ngIf="f.pass.errors?.required">Password is required</div>
      <div class="error-bt" *ngIf="f.pass.errors?.pattern">Passwords must contain at least eight characters, including uppercase, lowercase letters, Special characters and numbers. </div>
    </div>
  </tc-form-group>

  <tc-form-group>
    <tc-switcher [value]="true">I agree to the Terms and Privacy.</tc-switcher>
  </tc-form-group>

  <div class="actions justify-content-between">
    <button tc-button (click)="userRegister(registerForm.value)" [view]="'accent'" [beforeIcon]="'icofont-plus'">
      Register
    </button>
  </div>
</form>
