<form [formGroup]="forgotPwdForm" novalidate>
    <tc-form-group>
      <tc-input [placeholder]="'Email'" formControlName="email"></tc-input>
      <div *ngIf="submitted && f.email.errors">
        <div class="error-bt" *ngIf="f.email.errors?.required">Email is required</div>
      </div>
    </tc-form-group>

    <div class="actions justify-content-between">
      <button (click)="submit(forgotPwdForm.value)" tc-button [view]="'accent'" [beforeIcon]="'icofont-login'">
        Submit
      </button>
    </div>
</form>

<p class="mt-5 mb-1"><a [routerLink]="['/sign-in']">Back to Sign-in</a></p>


<ng-template #modalFooter>
  <div class="actions justify-content-between">
    <br>
    <button tc-button [type]="'button'" [view]="'info'" (click)="closeModal()">Okay</button>
  </div>
</ng-template>